
body {
  background-color: #996cac;
  text-align: center;
}

h1 {
  font-family: fantasy;
  color: rgb(134, 117, 88);
}

p {
  font-family: sans-serif;
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
